[client]
port=3306
socket=/tmp/mysql.sock
[mysqld]
port=3306
socket=/tmp/mysql.sock
datadir=/usr/local/mysql/data
log-error=/usr/local/mysql/data/mysqld.err
# Recommended minimum settings
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
# Default charset
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
# Performance tuning
key_buffer_size = 32M
max_allowed_packet = 64M
table_open_cache = 256
sort_buffer_size = 512K
net_buffer_length = 8K
# InnoDB tuning
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
federated